<% @adquisicion.empresa.present?? provide(:title, "Nueva adquisición de #{@adquisicion.empresa.nombre}") : provide(:title, "Nueva adquisición") %>

<div class="row">
  <div class="col-md-8">
    <%= render "form" %>
  </div>
</div>
